* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #4400ff, #8700fd, #d000ff);
}

.main {
  width: 1000px;
  margin: 0 auto;
  padding: 200px;
}

/* estilos contato ------------------------------------------------------------------------------------------*/
.container {
  display: flex;
  justify-content: center;
}

.clMsg,
.clInput,
.clMotivoContato {
  margin: 10px;
  padding: 5px 5px;

  border: gainsboro 1px solid;
  border-radius: 2%;
  box-shadow: 1px 2px 1px 2px #ffffffd0;
}

.clMsg:focus,
.clInput:focus,
.clMotivoContato:focus {
  border: #2a98c0 1px solid;
  outline: 0;
}

.clMotivoContato {
  background-color: #fff;
  color: gray;
}

/* Urna Eletronica -------------------------------------------------------------------------------------------*/
.boxUrna{ 
  width: 50%;
}
.h1UrnaEletronica {
  margin: 10px;
}
.ImgCandidato {
  width: 23%;
  margin: 10px;
}

.nomeCandidato {
  font-size: larger;
}

.numeroCandidato {
  border: 0;
  border-style: none;
  outline: 0;
}

.numeroCandidato:focus {
  border: 0;
  border-style: none;
  outline: 0;
}

.coluna {
  align-items: center;
}

.divBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}
.confirmar,
.cancelar,
.branco {
  margin: 5px;
  padding: 5px;
}

/* Login--------------------------------------------------------------------------------------- */



/* gerais  ------------------------------------------------------------------------------------*/

.fundoContainer {
  background-color: #abe9ff;
  border-radius: 1%;
  box-shadow: 1px 2px 20px;
}

.box {
  background-color: #fff;
  border: #abe9ff88 solid;
  border-radius: 2%;
  box-shadow: 1px 2px 20px;

  font-weight: bold;
  font-size: 2em;

  padding: 15px;
  margin: 50px;
}

.btn {
  margin: 10px;
  padding: 5px;

  background-color: #16baf8;
  color: #fff;
  font-weight: bold;
  border: none;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.centralizador {
  display: flex;
  flex-direction: column;
}
